*{
    margin: 0;
}

.titulo{
    text-align: center;
}

.container{
    width: 400px;
    height: 300px;
    background-color:  rgb(228, 208, 183);
    position: absolute;
    top: 119%;
    left: 50%;
    transform: translate(-50%,-115%);
    border-radius: 19px;
}

.resultado{
    height: 50px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 6%;
}

#resultadoTextI{
    position: relative;
    top: 30%;
    left: 5%;
}

.altura{
    position: absolute;
    top: 35%;
    left: 7%;
}

#generarI{
    width: 300px;
    height: 50px;
    background-color: rgb(145, 203, 236);
    margin-top: 30%;
    border-radius: 19px;
    position: relative;
    left: 13%;
    cursor: pointer;
}

.textGenerar{
    position: relative;
    top: 30%;
    left: 40%;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.genero{
    position: absolute;
    top: 55%;
    left: 7%;
}





